/********* Fonts **********/

@import url('https://fonts.googleapis.com/css?family=Raleway:500');
@import url('https://fonts.googleapis.com/css?family=Modak');

/****** Main Styling ******/
header *, body * {
  font-family: 'Raleway';
}

a, a:hover, a:visited {
  text-decoration: none;
}

input:focus::-webkit-input-placeholder {
    color: transparent !important;
}

input:focus::-moz-placeholder {
    color: transparent !important;
}
input:focus:-moz-placeholder {
    color: transparent !important;
}

/****** Header Styling ******/
.navbar-brand {
  font: 1.5em "Modak";
}

/****** Login Styling ******/


/****** Logo Div Styling ******/


/****** Click Styling ******/


/****** Profile Styling ******/


/****** Poll Styling ******/
.poll {
  border: 2px solid #2ECC71;
  color: #2ECC71;
  width: 100%;
  /*height: 100px;*/
  border-radius: 5px;

  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 1.25em;
}

.poll:hover {
  box-shadow: 50px black;
  color: #8b4c39;
  border-color: #8b4c39;
}

/****** OAuth Button Styling ******/
.pollerinho-text {
  font: 5em "Modak";
  color: #2ECC71;
  cursor: default;
}

.oauth-btn {
  border: 2px solid #2ECC71;
  border-radius: 5px;
  padding: 10px 8px;

  color: #2ECC71;
}

.oauth-btn:hover {
  box-shadow: 50px black;
  color: #8b4c39;
  border-color: #8b4c39;
}

.business-img {
  max-width: 100%;
}

.going-btn {
  /*height: 100%;*/
}

.first-color {
  color: #2ECC71;
}

#s-i {
  box-shadow: 0px 1px 5px 0px #7d7d7d;
}

.bus-container {
  border-color: #2ECC71 !important;
}
